<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Submit your quote to <a href="https://github.com/eljojo/quotes">github.com/eljojo/quotes</a> or
								<script type="text/javascript">
								//<![CDATA[
								<!--
								var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
								"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
								"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(3+y))y*=2;y%=127;o+=String.fromCharC" +
								"ode(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\gkfsjmg~%{\\\\\\\\177g{u}|;" +
								"6)w7pk\\\\\\\\177}!A<rAHNWK\\\\\\\\037WRG]OXlHBE_[]\\\\\\\\035ZPBk\\\\\\\\0" +
								"32\\\\\\\\031NRHQ[\\\\\\\\002\\\\\\\\034c\\\\\\\\036az43(<,9\\\\\\\\013)!$ " +
								":>|=1!jx9gxrgme\\\"\\\\,3)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--" +
								"i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)63=!)31/l(tAedoCrahc.x(elihw;lo" +
								"=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                            ;
								while(x=eval(x));
								//-->
								//]]>
								</script>.
              </p>
							<p>by <a href="http://eljojo.net">jojo</a></p>
            </div>
          </div>
        </div>
    </body>
</html>
